<!--@{
    ViewBag.Title = "Home Page";
}


<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="./index.html"><img src="~/img/logo-big.png" width="10px" alt=""></a>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="~/Views/Home/Index.cshtml">Trang Chủ</a></li>
            <li><a href="./about.html">Giới Thiệu</a></li>
            <li><a href="./dichvu.html">Dịch Vụ</a></li>
            <li><a href="./blog.html">Tin Tức</a></li>
            <li><a href="#">Liên Hệ</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
</div>
<!-- Humberger End -->
<!-- Header Section Begin -->-->
<!--@*<header class="header">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-1 col-xs-2 col-2">
                <div class="header__logo">
                    <a href="/"><img src="~/img/logo2.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-11 col-xs-10 col-10">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="/">Trang Chủ</a></li>
                        <li><a href="./about.html">Giới Thiệu</a></li>
                        <li><a href="/DatSan">Đặt Sân</a></li>
                        <li><a href="./blog.html">Tin Tức</a></li>
                        <li><a href="#">Liên Hệ</a></li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </nav>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>*@
@*<div id="preloder">
    <div class="loader"></div>
</div>
<body>
    @Html.Action("Index", "TkDaDuyet");
</body>*@

@*<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-5 col-sm-5">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="~/img/logo2.png" alt=""></a>
                    </div>
                    <ul>
                        <li>
                            Địa chỉ: 76 Lê A, Khu phố Suối Chồn, phường Bảo Vinh,
                            TP.Long Khánh, Đồng Nai
                        </li>
                        <li>Điện thoại: 0251 7770 888</li>
                        <li>Email: gardenthaodien@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Thông tin</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">About Our Shop</a></li>
                        <li><a href="#">Secure Shopping</a></li>
                        <li><a href="#">Delivery infomation</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Our Sitemap</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Innovation</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Hỗ trợ khách hàng</h6>
                    <p>Quý khách điền email và gửi thông tin hỗ trợ</p>
                    <form action="#">
                        <input type="text" placeholder="Nhập mail">
                        <button type="submit" class="site-btn">Gửi ngay</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p>
                            Copyright © 2022 Thao Thien Garden . All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>*@-->



